@font-face {
  font-family: yekan;
  src: url("../font/Yekan.ttf") format("truetype"), url("../font/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*{
    font-size:14px !important;
}
body {
  background: url("../img/Idoko/Untitled-4.png") center top / 100% 100% no-repeat;
  width: 100%;
  height: 100vh;
  font-family: yekan !important;
}
.darklabel {
    color: #5cedfb !important;
}
label.labeldark {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 15px 10px 10px -350px;
}

.darkimg {
    position: absolute;
    width: 60px;
}

.dark-button {
    background: black !important;
    background: black !important;
    border: 0.25em solid transparent !important;
    background-image: linear-gradient(#000, #000), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%) !important;
    background-origin: border-box !important;
    background-clip: padding-box, border-box !important;
    background-size: 200% 100% !important;
    transition: background-position 0.8s ease-out;
    color: #5cedfb !important;
}


.dark-rectangle {
    background-color: #364d6f !important; /* تغییر رنگ rectangle ها در حالت دارک‌مود */
}



.dark-mode {
    background-color: #2d1d1d !important;
    color: darkblue;
    background: url("../img/Idoko/1.png") center top / 100% 100% no-repeat;
}
button,input,text,a,div{
    font-family: "yekan" !important;
}
.Background {
  background: rgb(241, 247, 254);
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: rgb(1, 50, 55) 0px 0px 2em;
  gap: 2em;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 30px 10px 10px;
}

.headr {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: rgb(1, 50, 55);
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 55px 10px 10px 0px;
}

.BackIcon {
  border: none;
  background: transparent;
  font-size: 15px;
  position: absolute;
  width: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 45px 0px 0px -275px;
}

.r1 {
  position: absolute;
  width: 160px;
  height: 160px;
  background: transparent;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 250px 10px 10px -205px;
  border: solid;
}

.r2 {
  position: absolute;
  width: 160px;
  height: 160px;
  background: transparent;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 248px 10px 10px 0px;
  border: solid;
}

.r3 {
  position: absolute;
  width: 160px;
  height: 160px;
  background: transparent;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 250px 10px 10px 205px;
  border: solid;
}

.Level1 {
  position: absolute;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(1, 50, 55);
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: bold;
  margin: 425px 10px 10px 205px;
  width: 130px;
}

.Level2 {
  position: absolute;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(1, 50, 55);
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 425px 10px 10px 0px;
  font-weight: bold;
  width: 123px;
}

.Level3 {
  position: absolute;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(1, 50, 55);
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 425px 10px 10px -205px;
  font-weight: bold;
}

.Stock {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: rgb(1, 50, 55);
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 110px 10px 10px 0px;
}

.div-1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0px 10px 10px 0px;
}

.div-2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0px 10px 10px 0px;
}

.div-3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0px 10px 10px 0px;
}

a,div, button, input,a {
  border-radius: 15px !important;
  box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
}

@media screen and (max-width: 1279px) {
  .Background {
    display: none;
  }
    * {
        font-size: 12px !important;
    }
  body {
    background: url("../img/Idoko/Untitled-2.png") center top / 100% 100% no-repeat;
    width: 100%;
    height: 100vh;
    font-family: yekan !important;
  }
    .dark-mode {
        background-color: #2d1d1d !important;
        color: darkblue;
        background: url("../img/Idoko/2.png") center top / 100% 100% no-repeat;
    }
  .headr {
    position: absolute;
    font-size: 20px;
    width: 340px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 25px 10px 10px 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 0.15fr);
    gap: 10px;
    max-height: 90%;
    height: 81%;
    width: 520px;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 146px 10px 10px 0px;
  }

  .BackIcon {
    border: none;
    background: transparent;
    font-size: 30px;
    position: absolute;
    width: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 15px 10px 10px -275px;
  }

  .r1 {
    position: absolute;
    width: 400px;
    height: 250px;
    background: transparent;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 25px 10px 10px 0px;
    border: solid;
  }

  .r2 {
    position: absolute;
    width: 400px;
    height: 250px;
    background: transparent;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 355px 10px 10px 0px;
    border: solid;
  }

  .r3 {
    position: absolute;
    width: 400px;
    height: 250px;
    background: transparent;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 691px 10px 10px 0px;
    border: solid;
  }

  .Stock {
    position: absolute;
    font-size: 20px;
    width: 360px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 110px 10px 10px 0px;
  }

  .Level1 {
    position: absolute;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 285px 10px 10px 0px;
    font-weight: bold;
  }

  .Level2 {
    position: absolute;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: bold;
    margin: 615px 10px 10px 5px;
  }

  .Level3 {
    position: absolute;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, 0%);
    margin: 950px 10px 10px 55px;
    width: 200px;
  }

  a,div, button, input,a {
    border-radius: 15px !important;
    box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
}
}

@media screen and (max-width: 600px) {
  .Background {
    display: none;
  }
    * {
        font-size: 10px !important;
    }
  body {
    background: url("../img/Idoko/Untitled-1.png") center top / 100% 100% no-repeat;
    width: 100%;
    height: 100vh;
    font-family: yekan !important;
  }
    .dark-mode {
        background-color: #2d1d1d !important;
        color: darkblue;
        background: url("../img/Idoko/3.png") center top / 100% 100% no-repeat;
    }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 0.15fr);
    gap: 10px;
    max-height: 90%;
    height: 80%;
    width: 320px;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 95px 10px 10px 0px;
  }

  .BackIcon {
    border: none;
    background: transparent;
    font-size: 30px;
    position: absolute;
    width: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 10px 10px 10px -160px;
  }

  .headr {
    position: absolute;
    font-size: 15px;
    width: 260px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 12px 10px 10px 0px;
  }

  .r1 {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 50%;
    margin: 10px 10px 10px 0px;
    border: solid;
  }

  .r2 {
    position: absolute;
    width: 300px;
    height: 150px;
    background: transparent;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 220px 10px 10px 0px;
    border: solid;
  }

  .r3 {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 424px 10px 10px 0px;
    border: solid;
  }

  .Stock {
    position: absolute;
    font-size: 15px;
    width: 360px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 60px 10px 10px 0px;
  }

  .Level1 {
    position: absolute;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 165px 10px 10px 0px;
    width: 115px;
  }

  .Level2 {
    position: absolute;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 375px 10px 10px 5px;
    width: 115px;
  }

  .Level3 {
    position: absolute;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(1, 50, 55);
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 580px 10px 10px 5px;
    width: 115px;
  }

  a,div, button, input,a {
    border-radius: 15px !important;
    box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
}
}

