.m1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 105px 10px 10px -192px;
}

.m2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 116px 10px 10px -162px;
}

.m3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 107px 10px 10px -131px;
}

.m4 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 149px 10px 10px -97px;
}

.m5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 199px 10px 10px -32px;
}

.m6 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 156px 10px 10px 36px;
}

.m7 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 155px 10px 10px 87px;
}

.m8 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 176px 10px 10px 123px;
}

.m9 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 193px 10px 10px 20px;
    height: 100px;
}

.m10 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 192px 10px 10px -47px;
    height: 80px;
    width: 80px;
    padding: 20px 1px 1px 1px;
}

.m11 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 209px 10px 10px -94px;
}

.m12 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 191px 10px 10px -129px;
}

.m13 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 217px 10px 10px -165px;
}

.m14 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 259px 10px 10px -168px;
}

.m15 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 242px 10px 10px -123px;
}

.m16 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 245px 10px 10px -89px;
}

.m17 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 260px 10px 10px -65px;
}

.m18 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 281px 10px 10px -26px;
}

.m19 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 261px 10px 10px 48px;
}

.m20 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 275px 10px 10px 132px;
}

.m21 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 388px 10px 10px 185px;
}

.m22 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 368px 10px 10px 86px;
}

.m23 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 473px 10px 10px 56px;
}

.m24 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 376px 10px 10px -9px;
}

.m25 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 427px 10px 10px -55px;
}

.m26 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 387px 10px 10px -66px;
}

.m27 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 333px 10px 10px -109px;
}

.m28 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 301px 10px 10px -77px;
}

.m29 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 289px 10px 10px -126px;
}

.m30 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 292px 10px 10px -163px;
}

.m31 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 105px 10px 10px -51px;
    height: 105px;
}

.m32 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 180px;
    margin: 427px 10px 10px 29px;
}

.m33 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 222px 10px 10px -70px;
    height: 38px;
    width: 44px;
    padding: 1px 3px 10px 10px;
}

@media screen and (max-width: 1279px) {
    .m1 {
        position: absolute;
        left: 50%;
        height: 144px;
        transform: translate(-50%, 0%);
        margin: 137px 10px 10px -224px;
    }

    .m2 {
        position: absolute;
        left: 50%;
        height: 103px;
        transform: translate(-50%, 0%);
        margin: 153px 10px 10px -193px;
    }

    .m3 {
        position: absolute;
        left: 50%;
        height: 99px;
        transform: translate(-50%, 0%);
        margin: 144px 10px 10px -161px;
    }

    .m4 {
        position: absolute;
        left: 50%;
        height: 74px;
        transform: translate(-50%, 0%);
        margin: 188px 10px 10px -125px;
    }

    .m5 {
        position: absolute;
        left: 50%;
        height: 49px;
        transform: translate(-50%, 0%);
        margin: 243px 10px 10px -50px;
    }

    .m6 {
        position: absolute;
        height: 71px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 191px 10px 10px 29px;
    }

    .m7 {
        position: absolute;
        left: 50%;
        height: 76px;
        transform: translate(-50%, 0%);
        margin: 192px 10px 10px 85px;
    }

    .m8 {
        position: absolute;
        left: 50%;
        height: 153px;
        transform: translate(-50%, 0%);
        margin: 209px 10px 10px 124px;
    }

    .m9 {
        position: absolute;
        left: 50%;
        height: 118px;
        transform: translate(-50%, 0%);
        margin: 227px 10px 10px 9px;
    }

    .m10 {
        position: absolute;
        left: 50%;
        height: 59px;
        transform: translate(-50%, 0%);
        margin: 262px 10px 10px -66px;
    }

    .m11 {
        position: absolute;
        left: 50%;
        height: 53px;
        transform: translate(-50%, 0%);
        margin: 252px 10px 10px -117px;
    }

    .m12 {
        position: absolute;
        left: 50%;
        height: 75px;
        transform: translate(-50%, 0%);
        margin: 229px 10px 10px -159px;
    }

    .m13 {
        position: absolute;
        left: 50%;
        height: 67px;
        transform: translate(-50%, 0%);
        margin: 261px 10px 10px -197px;
    }

    .m14 {
        position: absolute;
        left: 50%;
        height: 57px;
        transform: translate(-50%, 0%);
        margin: 309px 10px 10px -199px;
    }

    .m15 {
        position: absolute;
        left: 50%;
        height: 73px;
        transform: translate(-50%, 0%);
        margin: 287px 10px 10px -151px;
    }

    .m16 {
        position: absolute;
        left: 50%;
        height: 95px;
        transform: translate(-50%, 0%);
        margin: 289px 10px 10px -112px;
    }

    .m17 {
        position: absolute;
        left: 50%;
        height: 46px;
        transform: translate(-50%, 0%);
        margin: 305px 10px 10px -87px;
    }

    .m18 {
        position: absolute;
        left: 50%;
        height: 169px;
        transform: translate(-50%, 0%);
        margin: 323px 10px 10px -46px;
    }

    .m19 {
        position: absolute;
        left: 50%;
        height: 236px;
        transform: translate(-50%, 0%);
        margin: 299px 10px 10px 43px;
    }

    .m20 {
        position: absolute;
        left: 50%;
        height: 174px;
        transform: translate(-50%, 0%);
        margin: 319px 10px 10px 136px;
    }

    .m21 {
        position: absolute;
        left: 50%;
        height: 232px;
        width: 140px;
        transform: translate(-50%, 0%);
        margin: 446px 10px 10px 190px;
    }

    .m22 {
        position: absolute;
        left: 50%;
        height: 210px;
        transform: translate(-50%, 0%);
        margin: 425px 10px 10px 80px;
    }

    .m23 {
        position: absolute;
        left: 50%;
        height: 126px;
        width: 182px;
        transform: translate(-50%, 0%);
        margin: 538px 10px 10px 49px;
    }

    .m24 {
        position: absolute;
        left: 50%;
        height: 167px;
        width: 159px;
        transform: translate(-50%, 0%);
        margin: 438px 10px 10px -22px;
    }

    .m25 {
        position: absolute;
        left: 50%;
        height: 99px;
        transform: translate(-50%, 0%);
        margin: 485px 10px 10px -74px;
    }

    .m26 {
        width: 92px;
        position: absolute;
        left: 50%;
        height: 65px;
        transform: translate(-50%, 0%);
        margin: 445px 10px 10px -82px;
    }

    .m27 {
        position: absolute;
        left: 50%;
        height: 120px;
        transform: translate(-50%, 0%);
        margin: 385px 10px 10px -136px;
    }

    .m28 {
        position: absolute;
        left: 50%;
        height: 98px;
        transform: translate(-50%, 0%);
        margin: 358px 10px 10px -101px;
    }

    .m29 {
        position: absolute;
        left: 50%;
        height: 69px;
        transform: translate(-50%, 0%);
        margin: 333px 10px 10px -157px;
    }

    .m30 {
        position: absolute;
        left: 50%;
        height: 85px;
        transform: translate(-50%, 0%);
        margin: 340px 10px 10px -192px;
    }

    .m31 {
        position: absolute;
        left: 50%;
        height: 120px;
        transform: translate(-50%, 0%);
        margin: 139px 10px 10px -72px;
    }

    .m32 {
        position: absolute;
        left: 50%;
        height: 195px;
        width: 392px;
        transform: translate(-50%, 0%);
        margin: 483px 10px 10px 18px;
    }

    .m33 {
        position: absolute;
        left: 50%;
        height: 34px;
        transform: translate(-50%, 0%);
        margin: 268px 10px 10px -85px;
    }

    .Div-0 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 4px 10px 10px 0px;
    }
}

@media screen and (max-width: 600px) {
    .m1 {
        position: absolute;
        left: 50%;
        height: 89px;
        transform: translate(-50%, 0%);
        margin: 101px 10px 10px -143px;
    }

    .m2 {
        position: absolute;
        left: 50%;
        height: 66px;
        transform: translate(-50%, 0%);
        margin: 110px 10px 10px -122px;
    }

    .m3 {
        position: absolute;
        left: 50%;
        height: 68px;
        transform: translate(-50%, 0%);
        margin: 103px 10px 10px -101px;
    }

    .m4 {
        position: absolute;
        left: 50%;
        height: 50px;
        transform: translate(-50%, 0%);
        margin: 130px 10px 10px -78px;
    }

    .m5 {
        position: absolute;
        left: 50%;
        height: 31px;
        transform: translate(-50%, 0%);
        margin: 166px 10px 10px -29px;
    }

    .m6 {
        position: absolute;
        height: 44px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 136px 10px 10px 16px;
    }

    .m7 {
        position: absolute;
        left: 50%;
        height: 45px;
        transform: translate(-50%, 0%);
        margin: 135px 10px 10px 52px;
    }

    .m8 {
        position: absolute;
        left: 50%;
        height: 94px;
        transform: translate(-50%, 0%);
        margin: 148px 10px 10px 78px;
    }

    .m9 {
        position: absolute;
        left: 50%;
        height: 74px;
        transform: translate(-50%, 0%);
        margin: 158px 10px 10px 5px;
    }

    .m10 {
        position: absolute;
        left: 50%;
        height: 37px;
        transform: translate(-50%, 0%);
        margin: 178px 10px 10px -41px;
    }

    .m11 {
        position: absolute;
        left: 50%;
        height: 34px;
        transform: translate(-50%, 0%);
        margin: 173px 10px 10px -74px;
    }

    .m12 {
        position: absolute;
        left: 50%;
        height: 42px;
        transform: translate(-50%, 0%);
        margin: 161px 10px 10px -99px;
    }

    .m13 {
        position: absolute;
        left: 50%;
        height: 45px;
        transform: translate(-50%, 0%);
        margin: 177px 10px 10px -123px;
    }

    .m14 {
        position: absolute;
        left: 50%;
        height: 42px;
        transform: translate(-50%, 0%);
        margin: 207px 10px 10px -127px;
    }

    .m15 {
        position: absolute;
        left: 50%;
        height: 45px;
        transform: translate(-50%, 0%);
        margin: 194px 10px 10px -95px;
    }

    .m16 {
        position: absolute;
        left: 50%;
        height: 61px;
        transform: translate(-50%, 0%);
        margin: 196px 10px 10px -70px;
    }

    .m17 {
        position: absolute;
        left: 50%;
        height: 27px;
        transform: translate(-50%, 0%);
        margin: 207px 10px 10px -55px;
    }

    .m18 {
        position: absolute;
        left: 50%;
        height: 91px;
        transform: translate(-50%, 0%);
        margin: 222px 10px 10px -26px;
    }

    .m19 {
        position: absolute;
        left: 50%;
        height: 138px;
        transform: translate(-50%, 0%);
        margin: 206px 10px 10px 26px;
    }

    .m20 {
        position: absolute;
        left: 50%;
        height: 107px;
        transform: translate(-50%, 0%);
        margin: 216px 10px 10px 86px;
    }

    .m21 {
        position: absolute;
        left: 50%;
        height: 149px;
        width: 84px;
        transform: translate(-50%, 0%);
        margin: 295px 10px 10px 123px;
    }

    .m22 {
        position: absolute;
        left: 50%;
        height: 139px;
        transform: translate(-50%, 0%);
        margin: 280px 10px 10px 52px;
    }

    .m23 {
        position: absolute;
        left: 50%;
        height: 76px;
        width: 118px;
        transform: translate(-50%, 0%);
        margin: 357px 10px 10px 32px;
    }

    .m24 {
        position: absolute;
        left: 50%;
        height: 113px;
        width: 93px;
        transform: translate(-50%, 0%);
        margin: 286px 10px 10px -14px;
    }

    .m25 {
        position: absolute;
        left: 50%;
        height: 66px;
        transform: translate(-50%, 0%);
        margin: 321px 10px 10px -44px;
    }

    .m26 {
        width: 35px;
        position: absolute;
        left: 50%;
        height: 40px;
        transform: translate(-50%, 0%);
        margin: 294px 10px 10px -54px;
    }

    .m27 {
        position: absolute;
        left: 50%;
        height: 80px;
        transform: translate(-50%, 0%);
        margin: 254px 10px 10px -84px;
    }

    .m28 {
        position: absolute;
        left: 50%;
        height: 65px;
        transform: translate(-50%, 0%);
        margin: 238px 10px 10px -61px;
    }

    .m29 {
        position: absolute;
        left: 50%;
        height: 42px;
        transform: translate(-50%, 0%);
        margin: 225px 10px 10px -97px;
    }

    .m30 {
        position: absolute;
        left: 50%;
        height: 57px;
        transform: translate(-50%, 0%);
        margin: 228px 10px 10px -124px;
    }

    .m31 {
        position: absolute;
        left: 50%;
        height: 77px;
        transform: translate(-50%, 0%);
        margin: 101px 10px 10px -44px;
    }

    .m32 {
        position: absolute;
        left: 50%;
        height: 119px;
        width: 246px;
        transform: translate(-50%, 0%);
        margin: 324px 10px 10px 14px;
    }

    .m33 {
        position: absolute;
        left: 50%;
        height: 22px;
        transform: translate(-50%, 0%);
        margin: 182px 10px 10px -55px;
    }

    .Div-0 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 4px 10px 10px 0px;
    }
}
