

@font-face {
    font-family: yekan;
    src: url("../font/Yekan.ttf") format("truetype"), url("../font/Yekan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
* {
    font-size: 14px !important;
}
body {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/Idoko/Untitled-4.png") center top / 100% 100% no-repeat;
    height: 100vh;
    font-family: yekan !important;
}
label.labeldark {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 15px 10px 10px -350px;
}
.darklabel {
    color: #5cedfb !important;
}
.darkimg {
    position: absolute;
    width: 60px;
}

.dark-button {
    background: black !important;
    background: black !important;
    border: 0.25em solid transparent !important;
    background-image: linear-gradient(#000, #000), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%) !important;
    background-origin: border-box !important;
    background-clip: padding-box, border-box !important;
    background-size: 200% 100% !important;
    transition: background-position 0.8s ease-out;
    color: #5cedfb !important;
}


.dark-rectangle {
    background-color: #364d6f !important; /* تغییر رنگ rectangle ها در حالت دارک‌مود */
}


.dark-mode {
    background-color: #2d1d1d !important;
    color: darkblue;
    background: url("../img/Idoko/1.png") center top / 100% 100% no-repeat;
}
button, input, text, a, div {
    font-family: "yekan" !important;
}

.BackIcon {
    border: none;
    background: transparent;
    font-size: 29px;
    position: absolute;
    left: 50%;
    width: 41px;
    transform: translate(-50%, 0%);
    margin: -240px 0px 0px -220px;
}

.r1 {
    background: rgb(241, 247, 254);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgb(1, 50, 55) 0px 0px 2em;
    gap: 2em;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 10px 10px 10px 0px;
}

.logo {
    width: 180px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 30px 10px 10px 0px;
}

.Send {
    padding: 1em;
    background: rgb(234, 249, 218);
    color: rgb(2, 72, 30);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: rgb(1, 50, 55) 0px 0px 1em;
    width: 170px;
    position: absolute;
    margin: 100px 10px 10px -85px;
    font-family: yekan;
    font-size: 16px;
}

.btn-secondary:hover {
    color: rgb(1, 50, 55);
    background-color: rgb(76, 167, 113);
    border-color: rgb(151, 16, 43);
}

.hover-grow {
    transition: all 0.5s ease 0s;
}

.btn-secondary:hover {
    transform: scale(1.1);
}

.home:hover {
    font-weight: bold;
    color: rgb(1, 50, 55);
}

.Code {
    background-color: transparent;
    text-decoration: none;
    color: rgb(2, 72, 30);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: -240px -3px 10px 0px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    font-size: 16px;
}


input#KeyNum {
    text-align: center;
    outline: none;
    border: none;
    border-radius: 70px;
    height: 60px;
    width: 180px;
    left: 50%;
    transform: translate(-50%, 0%);
    letter-spacing: 22px;
    position: absolute;
    background-color: white;
    opacity: 70%;
    box-shadow: rgb(1, 50, 55) 0px 0px 1em;
    color: rgb(1, 50, 55);
    margin: -30px 10px 10px 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    padding-left: 20px;
}


div, button, input, a {
    border-radius: 15px !important;
    box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
}

label.Valid {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 145px 10px 10px 0px;
    color: red;
    width: max-content;
}
    @media screen and (max-width: 1279px) {
        body {
            overflow-y: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/Idoko/Untitled-2.png") center top / 100% 100% no-repeat;
            height: 100vh;
        }
        * {
            font-size: 12px !important;
        }
        .dark-mode {
            background-color: #2d1d1d !important;
            color: darkblue;
            background: url("../img/Idoko/2.png") center top / 100% 100% no-repeat;
        }
        .r1 {
            background: rgb(241, 247, 254);
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            box-shadow: rgb(1, 50, 55) 0px 0px 2em;
            gap: 2em;
            opacity: 0.5;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            margin: 10px 10px 10px 0px;
        }

        .logo {
            width: 150px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            margin: 60px 10px 10px 0px;
        }

        .BackIcon {
            border: none;
            background: transparent;
            font-size: 29px;
            position: absolute;
            left: 50%;
            width: 41px;
            transform: translate(-50%, 0%);
            margin: -240px 0px 0px -220px;
        }

        .Send {
            padding: 1em;
            background: rgb(234, 249, 218);
            color: rgb(2, 72, 30);
            border: none;
            border-radius: 30px;
            font-weight: 600;
            box-shadow: rgb(1, 50, 55) 0px 0px 1em;
            width: 180px;
            place-self: center;
            position: absolute;
            margin: 110px 10px 10px -90px;
            font-family: yekan;
            font-size: 14px;
        }

        .btn-secondary:hover {
            color: rgb(1, 50, 55);
            background-color: rgb(76, 167, 113);
            border-color: rgb(151, 16, 43);
        }

        .hover-grow {
            transition: all 0.5s ease 0s;
        }

        .btn-secondary:hover {
            transform: scale(1.1);
        }

        .home:hover {
            font-weight: bold;
            color: rgb(1, 50, 55);
        }

        .Code {
            color: rgb(1, 50, 55);
            position: absolute;
            margin: -240px 10px 10px 0px;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 260px;
            text-align: center;
            font-family: yekan;
            font-size: 14px;
        }


        input#KeyNum {
            text-align: center;
            outline: none;
            border: none;
            border-radius: 70px;
            height: 60px;
            width: 180px;
            left: 50%;
            transform: translate(-50%, 0%);
            position: absolute;
            background-color: white;
            opacity: 70%;
            box-shadow: rgb(1, 50, 55) 0px 0px 1em;
            color: rgb(1, 50, 55);
            margin: -25px 10px 10px 0px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        div, button, input, a {
            border-radius: 15px !important;
            box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
        }
    }

    @media screen and (max-width: 600px) {
        * {
            font-size: 10px !important;
        }
        body {
            overflow-y: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/Idoko/Untitled-1.png") center top / 100% 100% no-repeat;
            height: 100vh;
        }
        .dark-mode {
            background-color: #2d1d1d !important;
            color: darkblue;
            background: url("../img/Idoko/3.png") center top / 100% 100% no-repeat;
        }
        label.Valid {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 245px 10px 10px 0px;
    color: red;
    width: max-content;
}
        .r1 {
            background: rgb(241, 247, 254);
            width: 270px;
            height: 400px;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            box-shadow: rgb(1, 50, 55) 0px 0px 2em;
            gap: 2em;
            opacity: 0.5;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            margin: 140px 10px 10px 0px;
        }

        .logo {
            width: 130px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            margin: 45px 10px 10px 0px;
        }

        .BackIcon {
            border: none;
            background: transparent;
            font-size: 29px;
            position: absolute;
            left: 50%;
            width: 41px;
            transform: translate(-50%, 0%);
            margin: -240px 0px 0px -113px;
        }

        .Send {
            padding: 1em;
            background: rgb(234, 249, 218);
            color: rgb(2, 72, 30);
            border: none;
            border-radius: 30px;
            font-weight: 600;
            box-shadow: rgb(1, 50, 55) 0px 0px 1em;
            width: 140px;
            position: absolute;
            margin: 150px 10px 10px -70px;
            font-size: 12px;
        }

        .btn-secondary:hover {
            color: rgb(1, 50, 55);
            background-color: rgb(76, 167, 113);
            border-color: rgb(151, 16, 43);
        }

        .hover-grow {
            transition: all 0.5s ease 0s;
        }

        .btn-secondary:hover {
            transform: scale(1.1);
        }

        .home:hover {
            font-weight: bold;
            color: rgb(1, 50, 55);
        }

        .Code {
            color: rgb(1, 50, 55);
            position: absolute;
            font-size: 12px;
            width: 160px;
            left: 50%;
            transform: translate(-50%, 0%);
            margin: -80px 10px 10px 0px;
            font-family: yekan;
            text-align: center;
        }


        input#KeyNum {
            text-align: center;
            outline: none;
            border: none;
            border-radius: 70px;
            height: 40px;
            width: 130px;
            left: 50%;
            transform: translate(-50%, 0%);
            position: absolute;
            background-color: white;
            opacity: 70%;
            box-shadow: rgb(1, 50, 55) 0px 0px 1em;
            color: rgb(1, 50, 55);
            margin: 40px 10px 10px 0px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 15px;
            padding-right: 10px;
        }


        .BackIcon {
            border: none;
            background: transparent;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 34px;
            margin: -130px 0px 0px -115px;
        }

        div, button, input, a {
            border-radius: 15px !important;
            box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
        }
    }
