@font-face {
    font-family: yekan;
    src: url("../font/Yekan.ttf") format("truetype"), url("../font/Yekan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-size: 14px !important;
}

body {
    background: url("../img/Idoko/Untitled-4.png") center top / 100% 100% no-repeat;
    width: 100%;
    height: 100vh;
    font-family: yekan !important;
}

label.labeldark {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 15px 10px 10px -350px;
}

.darklabel {
    color: #5cedfb !important;
}

.darkimg {
    position: absolute;
    width: 60px;
}

.dark-button {
    background: black !important;
    background: black !important;
    border: 0.25em solid transparent !important;
    background-image: linear-gradient(#000, #000), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%) !important;
    background-origin: border-box !important;
    background-clip: padding-box, border-box !important;
    background-size: 200% 100% !important;
    transition: background-position 0.8s ease-out;
    color: #5cedfb !important;
}

.dark-rectangle {
    background-color: #364d6f !important; /* تغییر رنگ rectangle ها در حالت دارک‌مود */
}


.dark-mode {
    background-color: #2d1d1d !important;
    color: darkblue;
    background: url("../img/Idoko/1.png") center top / 100% 100% no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 10px;
    max-height: 90%;
    height: 80%;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    width: 460px;
    margin: 100px 10px 10px;
    transform: translate(-50%, 0%);
    padding-top: 15px;
    justify-content: center;
    padding-top: 345px;
    overflow-y: scroll;
    scrollbar-width: none;
    border: solid #013237 1px;
}

.Sdessert {
    cursor: pointer;
    position: relative;
    display: block;
    width: 200px;
    height: 150px;
    bottom: 330px;
}

.Sdessert-image img {
    width: 200px;
    vertical-align: top;
    height: 150px;
    border-radius: 15px;
    border: solid black;
}

.Sdessert-overlay {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.Sdessert:hover .Sdessert-overlay {
    display: flex;
}

.BackIcon {
    border: none;
    background: transparent;
    font-size: 30px;
    position: absolute;
    width: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 45px 0px 0px -275px;
}

.Search {
    position: absolute;
    width: 500px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 47px 10px 10px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-family: yekan;
    border: solid #013237 1px !important;
    font-weight: bold;
}

.Windo {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 330px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    color: #013237;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #013237 1px;
    font-weight: bold;
}

.Page {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 285px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    color: #013237;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #013237 1px;
    font-weight: bold;
}

.Food {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 375px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    color: #013237;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #013237 1px;
    font-weight: bold;
}

.Invite {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 465px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    color: #013237;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #013237 1px;
    font-weight: bold;
}

.Pet {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 420px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    color: #013237;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #013237 1px;
    font-weight: bold;
}

a,
div,
button,
input,
a {
    border-radius: 15px !important;
    box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
}

@media screen and (max-width: 1279px) {
    .Background {
        display: none;
    }

    * {
        font-size: 12px !important;
    }

    body {
        background: url("../img/Idoko/Untitled-2.png") center top / 100% 100% no-repeat;
        width: 100%;
        height: 100vh;
        font-family: yekan !important;
    }

    .dark-mode {
        background-color: #2d1d1d !important;
        color: darkblue;
        background: url("../img/Idoko/2.png") center top / 100% 100% no-repeat;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 0.15fr);
        gap: 10px;
        max-height: 90%;
        height: 85%;
        width: 520px;
        overflow-y: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 75px 10px 10px 0px;
        padding-top: 350px;
    }

    .Sdessert {
        cursor: pointer;
        position: relative;
        display: block;
        width: 200px;
        height: 150px;
        bottom: 330px;
    }



    .Search {
        position: absolute;
        width: 500px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 18px 10px 10px 0px;
        text-align: center;
        border: none;
        font-size: 14px;
    }

    .BackIcon {
        border: none;
        background: transparent;
        font-size: 30px;
        position: absolute;
        width: 40px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 15px 10px 10px -275px;
    }

    .Windo {
        position: fixed;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 110px;
        border: none;
        font-size: 14px;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Page {
        position: fixed;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 220px;
        border: none;
        font-size: 14px;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Food {
        position: fixed;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 0px;
        border: none;
        font-size: 14px;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Invite {
        position: fixed;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -220px;
        border: none;
        font-size: 14px;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Pet {
        position: fixed;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -110px;
        border: none;
        font-size: 14px;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    a,
    div,
    button,
    input,
    a {
        border-radius: 15px !important;
        box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
    }
}

@media screen and (max-width: 600px) {
    .Background {
        display: none;
    }

    * {
        font-size: 10px !important;
    }

    body {
        background: url("../img/Idoko/Untitled-1.png") center top / 100% 100% no-repeat;
        width: 100%;
        height: 100vh;
        font-family: yekan !important;
    }

    .dark-mode {
        background-color: #2d1d1d !important;
        color: darkblue;
        background: url("../img/Idoko/3.png") center top / 100% 100% no-repeat;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 0.15fr);
        max-height: 84%;
        height: 83%;
        width: 350px;
        overflow-y: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 55px 10px 10px 0px;
        grid-gap: 20px 4px;
        padding-top: 22px;
        padding-right: 0px;
    }

    .Sdessert {
        cursor: pointer;
        position: relative;
        display: block;
        width: 300px;
        height: 180px;
        bottom: 0px;
    }

    .Sdessert-image img {
        width: 300px;
        vertical-align: top;
        height: 180px;
        border-radius: 15px;
        border: solid black;
    }

    .Sdessert-overlay {
        background: rgba(0, 0, 0, .4);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: none;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }

    .Sdessert:hover .Sdessert-overlay {
        display: flex;
    }

    .BackIcon {
        border: none;
        background: transparent;
        font-size: 30px;
        position: absolute;
        width: 30px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 10px 10px 10px -160px;
    }

    .Search {
        position: absolute;
        width: 280px;
        height: 30px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 10px 10px 10px 0px;
        text-align: center;
        border: none;
    }

    .Windo {
        position: fixed;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 65px;
        bottom: 5px;
        border: none;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Page {
        position: fixed;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 130px;
        border: none;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Food {
        position: fixed;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 0px;
        border: none;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Invite {
        position: fixed;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -130px;
        border: none;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    .Pet {
        position: fixed;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 5px !important;
        border-radius: 15px !important;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -65px;
        border: none;
        bottom: 5px;
        border: solid #013237 1px;
        font-weight: bold;
    }

    a,
    div,
    button,
    input,
    a {
        border-radius: 15px !important;
        box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
    }
}
