@model I2oko.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ورود به سرزمین ایدوکو</title>
    <script nomodule src="~/Content/recomand/ionicons.js"></script>
    <link rel="stylesheet" href="~/Content/recomand/normalize.min.css">
    <link rel='stylesheet'
          href='~/Content/recomand/fontgoogle.css'>
    <link href='~/Content/recomand/parsinee.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Content/style/otp style.css">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="icon" href="../Content/img/Idoko/favicon.ico">

</head>

<body>
    <div class="rectangle r1"></div>
    <img class="logo" src="../Content/img/Idoko/1.pngArtboard 1@4x.png">

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(x => x.KeyNum, new { maxlength = 5, type = "text", oninput = "validateNumber(this)" })

        <input class="Send btn-secondary hover-grow" type="submit" value="تایید کد فعالسازی" />
    }
    <label class="Valid"> @ViewBag.Key </label>
    <h1 class="Code">لطفا کد فعالسازی ارسال شده را وارد نمایید</h1>
    <div onclick="history.back()">
        <img class="BackIcon" src="../Content/img/Idoko/back.png" alt="">
    </div>
    <script>
        function validateNumber(input) {
            var pattern = /^[0-9]+$/;
            var value = input.value;

            if (!pattern.test(value)) {
                input.value = value.replace(/\D/g, '');
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            loadDarkModeState();
        });

        // تعریف توابع مربوط به ذخیره و بازیابی وضعیت دارک مود
        function saveDarkModeState() {
            var darkModeState = {
                "dark-mode": document.body.classList.contains("dark-mode"),
                "dark-buttons": document.querySelector(".hover-grow").classList.contains("dark-button"),
                "dark-profile": document.querySelector(".Profile").classList.contains("dark-profile"),
                "dark-rectangles": document.querySelector(".rectangle").classList.contains("dark-rectangle"),
                "label-darklabel": document.querySelector("label").classList.contains("darklabel"),
                "a-darklabel": document.querySelector("a").classList.contains("darklabel")
            };

            localStorage.setItem("dark-mode-state", JSON.stringify(darkModeState));
        }

        function loadDarkModeState() {
            var darkModeState = JSON.parse(localStorage.getItem("dark-mode-state")) || {};

            if (darkModeState["dark-mode"]) {
                document.body.classList.add("dark-mode");
            }

            var buttons = document.querySelectorAll(".hover-grow");
            buttons.forEach(button => {
                if (darkModeState["dark-buttons"]) {
                    button.classList.add("dark-button");
                }
            });

            //if (darkModeState["dark-profile"]) {
            //    document.querySelector(".Profile").classList.add("dark-profile");
            //}

            var rectangles = document.querySelectorAll(".rectangle");
            rectangles.forEach(rectangle => {
                if (darkModeState["dark-rectangles"]) {
                    rectangle.classList.add("dark-rectangle");
                }
            });

            // تغییر بک‌گراند .darkimg در حالت دارک مود
            var darkMode = document.body.classList.contains("dark-mode");
            var darkImg = document.querySelector(".darkimg");
            // بازنشانی کلاس darklabel به لیبل و تگ a در حالت دارک مود
            var labels = document.querySelectorAll("label,a");
            labels.forEach(label => {
                if (darkModeState["label-darklabel"] || darkModeState["a-darklabel"]) {
                    label.classList.add("darklabel");
                } else {
                    label.classList.remove("darklabel");
                }
            });

        }
    </script>

</body>

</html>
