
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="../Content/style/Shoping list style.css">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>
    <link rel="icon" href="../Content/img/Idoko/favicon.ico">

</head>

<body>

    <div class="rectangle r1"></div>
    <a href="/Home/Proofile">
        <img class="BackIcon" src="~/Content/img/back.png" />
    </a>   
    </div>
    <button class="send btn-secondary hover-grow">ارسال</button>
    <div class="grid-container">
        <section class="shop-list">
            <div class="Div-0">
                <p class="Row">ردیف</p>
                <p class="Name">نام</p>
                <p class="Amount">مقدار</p>
                <P class="propertis">توضحیات</P>
                <p class="price"> بازه ی هزینه</p>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
            <div class="">
                <img class="Delete" src="../Content/img/Idoko/delete.svg" alt="">
                <div class="rectangle Number"></div>
                <div class="rectangle Amount2"></div>
                <div class="rectangle Product"></div>
                <div class="rectangle propertisProduct"></div>
                <div class="rectangle priceProduct"></div>
            </div>
        </section>

    </div>
    <div class="Div-3">
        <div class="rectangle add">+</div>
        <p class="Item">تعداد اقلام </p>
        <p class="Priceall">بازه ی هزینه کل</p>
        <div class="rectangle ItemText"></div>
        <div class="rectangle PriceallText"></div>
        <div class="rectangle rm1"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</body>

</html>
