.Food-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 288px));
  justify-content: center;
  grid-gap: 0px 80px;
  padding-top: 0px;
  padding-right: 30px;
}

.Food {
  cursor: pointer;
  position: relative;
  display: block;
  top: -89px;
  width: 160px;
  height: 160px;
}

.Food-image {
  margin: 0;
}

.Food-image img {
  width: 150px;
  vertical-align: top;
  height: 150px;
  border: solid black;
}


@media screen and (max-width: 1279px) {
  .Food-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 288px));
    justify-content: center;
    grid-gap: 0px 48px;
    padding-top: 103px;
    padding-right: 100px;
  }

  .Food-image img {
    width: 400px;
    vertical-align: top;
    height: 250px;
    border: solid black;

  }

}

@media screen and (max-width: 600px) {
  .Food-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 288px));
    justify-content: center;
    grid-gap: 40px 49px;
    padding-top: 103px;
    padding-right: 50px;
  }

  .Food-image img {
    width: 400px;
    vertical-align: top;
    height: 250px;
    border: solid black;

  }

}