@font-face {
    font-family: yekan;
    src: url("../font/Yekan.ttf") format("truetype"), url("../font/Yekan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

body {
    background: url("../img/Idoko/Untitled-4.png") center top / 100% 100% no-repeat;
    width: 100%;
    height: 100vh;
    font-family: yekan !important;
}

.BackIcon {
    border: none;
    background: transparent;
    font-size: 30px;
    position: absolute;
    width: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 45px 0px 0px -275px;
}

.Search {
    position: absolute;
    width: 500px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 47px 10px 10px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-family: yekan;
}

.Windo {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 285px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #013237;
    text-wrap: nowrap;
}

.Page {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 330px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #013237;
    text-wrap: nowrap;
}

.Food {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 375px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #013237;
    text-wrap: nowrap;
}

.Invite {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 420px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #013237;
    text-wrap: nowrap;
}

.Pet {
    position: absolute;
    width: 110px;
    height: 35px;
    background: rgb(255, 246, 164);
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 465px 10px 10px 340px;
    border: none;
    font-size: 16px;
    font-family: yekan;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #013237;
    text-wrap: nowrap;
}

.Irani {
    position: absolute;
    width: 450px;
    height: 250px;
    background: transparent;
    box-shadow: rgb(1 50 55) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 120px 10px 10px 10px;
    font-size: large;
}
      .Table {
      cursor: pointer;
      position: absolute;
      display: block;
      width: 450px;
      height: 250px;
    }
    .Table-image img {
      width: 450px;
      vertical-align: top;
      height: 250px;
      border-radius: 15px;
    border: solid black;
    }
    
    .Table-overlay {
      background: rgba(0, 0, 0, .4);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: none;
      align-items: center;
      justify-content: center; 
      color: white;
      text-align: center;
          font-weight: bold;
    font-size: 30px;

    }
    .Table:hover .Table-overlay {
      display: flex;
    }

.Frangi {
    position: absolute;
    width: 450px;
    height: 250px;
    background: transparent;
    box-shadow: rgb(1 50 55) 0px 0px 10px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 390px 10px 10px 10px;
    font-size: large;
}

a,div, button, input,a {
    border-radius: 15px !important;
    box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
}

@media screen and (max-width: 1279px) {
    .Background {
        display: none;
    }

    body {
        background: url("../img/Idoko/Untitled-2.png") center top / 100% 100% no-repeat;
        width: 100%;
        height: 100vh;
        font-family: yekan !important;
    }

    .Search {
        position: absolute;
        width: 500px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 18px 10px 10px 0px;
        text-align: center;
        border: none;
        font-size: 14px;
    }

    .BackIcon {
        border: none;
        background: transparent;
        font-size: 30px;
        position: absolute;
        width: 40px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 15px 10px 10px -275px;
    }

    .Windo {
        position: absolute;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 110px;
        border: none;
        font-size: 14px;
        bottom: 5px;
    }

    .Page {
        position: absolute;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 220px;
        border: none;
        font-size: 14px;
        bottom: 5px;
    }

    .Food {
        position: absolute;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 0px;
        border: none;
        font-size: 14px;
        bottom: 5px;
    }

    .Invite {
        position: absolute;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -220px;
        border: none;
        font-size: 14px;
        bottom: 5px;
    }

    .Pet {
        position: absolute;
        width: 100px;
        height: 35px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -110px;
        border: none;
        font-size: 14px;
        bottom: 5px;
    }

    .Irani {
        position: absolute;
        width: 400px;
        height: 250px;
        background: transparent;
        box-shadow: rgb(1, 50, 55) 0px 0px 10px;
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 225px 10px 10px 0px;
        font-size: x-large;
    }

    .Frangi {
        position: absolute;
        width: 400px;
        height: 250px;
        background: transparent;
        box-shadow: rgb(1, 50, 55) 0px 0px 10px;
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 495px 10px 10px 0px;
        font-size: x-large;
    }
        .Table {
      cursor: pointer;
      position: absolute;
      display: block;
      width: 400px;
      height: 250px;
    }
    .Table-image img {
      width: 400px;
      vertical-align: top;
      height: 250px;
      border-radius: 15px;
    border: solid black;
    }
    
    .Table-overlay {
      background: rgba(0, 0, 0, .4);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: none;
      align-items: center;
      justify-content: center; 
      color: white;
      text-align: center;
          font-weight: bold;
    font-size: 30px;

    }
    .Table:hover .Table-overlay {
      display: flex;
    }
    a,div, button, input,a {
        border-radius: 15px !important;
        box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
    }
}

@media screen and (max-width: 600px) {
    .Background {
        display: none;
    }

    body {
        background: url("../img/Idoko/Untitled-1.png") center top / 100% 100% no-repeat;
        width: 100%;
        height: 100vh;
        font-family: yekan !important;
    }

    .Search {
        position: absolute;
        width: 280px;
        height: 30px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 10px 10px 10px 0px;
        text-align: center;
        border: none;
    }

    .BackIcon {
        border: none;
        background: transparent;
        font-size: 30px;
        position: absolute;
        width: 30px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 10px 10px 10px -160px;
    }

    .Windo {
        position: absolute;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 65px;
        bottom: 5px;
        border: none;
    }

    .Page {
        position: absolute;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 130px;
        border: none;
        bottom: 5px;
    }

    .Food {
        position: absolute;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px 0px;
        border: none;
        bottom: 5px;
    }

    .Invite {
        position: absolute;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -130px;
        border: none;
        bottom: 5px;
    }

    .Pet {
        position: absolute;
        width: 60px;
        height: 25px;
        font-size: 9px;
        background: rgb(255, 246, 164);
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px 10px 10px -65px;
        border: none;
        bottom: 5px;
    }

    .Irani {
        position: absolute;
        width: 300px;
        height: 180px;
        background: transparent;
        box-shadow: rgb(1 50 55) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 125px 10px 10px 0px;
        font-size: large;
    }

    .Frangi {
        position: absolute;
        width: 300px;
        height: 180px;
        background: transparent;
        box-shadow: rgb(1 50 55) 0px 0px 10px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 320px 10px 10px 0px;
        font-size: large;
    }
        .Table {
      cursor: pointer;
      position: absolute;
      display: block;
      width: 300px;
      height: 180px;
    }
    .Table-image img {
      width: 300px;
      vertical-align: top;
      height: 180px;
      border-radius: 15px;
    border: solid black;
    }
    
    .Table-overlay {
      background: rgba(0, 0, 0, .4);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: none;
      align-items: center;
      justify-content: center; 
      color: white;
      text-align: center;
          font-weight: bold;
    font-size: 30px;

    }
    .Table:hover .Table-overlay {
      display: flex;
    }

    a,div, button, input,a {
        border-radius: 15px !important;
        box-shadow: rgb(1, 50, 55) 0px 0px 5px !important;
    }
}
