
.fav-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 288px));
  justify-content: center;
  grid-gap: 30px 150px;
  padding-top: 103px;
  padding-right: 90px;
  padding-left: 0;
  width: 100px;
}
.fav {
  cursor: pointer;
  position: relative;
  display: block;
  top: -80px;
  width: 200px;
  height: 150px;
}
.fav-image {
  margin: 0;
}
.fav-image img {
  width: 200px;
  vertical-align: top;
  height: 150px;
  border-radius: 15px;
  border: solid black;
}

.fav-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center; 
  color: white;
  text-align: center;
  font-weight: bold;
}
.fav:hover .fav-overlay {
  display: flex;
}

img.menu-item2 {
  width: 31px;
  position: absolute;
  margin: -110px 10px 10px 205px;
}
img.menu-item1 {
  width: 31px;
  position: absolute;
  margin: -146px 10px 10px 205px;
}
@media screen and (max-width: 1279px) {
  .fav-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 288px));
    justify-content: center;
    grid-gap: 35px 145px;
    padding-top: 104px;
    padding-left: 208px;
    width: 100px;
}
img.menu-item2 {
  width: 31px;
  position: absolute;
  margin: -100px 10px 10px 205px;
}
img.menu-item1 {
  width: 30px;
  position: absolute;
  margin: -136px 10px 10px 205px;
}
.fav-image img {
  width: 200px;
  vertical-align: top;
  height: 150px;
  border-radius: 15px;
  border: solid black;
}
.fav-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center; 
  color: white;
  text-align: center;
}
.fav:hover .fav-overlay {
  display: flex;
}

}
@media screen and (max-width: 600px) {
  .fav-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 288px));
    justify-content: center;
    grid-gap: 35px 65px;
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 80px;
    width: 100px;
}
img.menu-item1 {
  width: 31px;
  position: absolute;
  margin: -180px 10px 10px 110px;
}
img.menu-item2 {
  width: 31px;
  position: absolute;
  margin: -180px 10px 10px 80px;
}
.fav {
  cursor: pointer;
  position: relative;
  display: block;
  top: -80px;
  width: 150px;
  height: 150px;
}
.fav-image img {
  width: 150px;
  vertical-align: top;
  height: 150px;
  border-radius: 15px;
  border: solid black;
}
.fav-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center; 
  color: white;
  text-align: center;
}
.fav:hover .fav-overlay {
  display: flex;
}
}

